@using ProductsApi.Models;
@model List<ProductModel>
@{
    <h1>Products</h1>
    <div>
        @foreach (var product in Model)
        {
            <div>
                <h1>@product.Name</h1>
                <h2>@product.Description</h2>
                <p>Count: @product.Count  Weight: @product.Weight Storage: @product.Storage.Name</p>
            </div>
        }
    </div>
}
