@using ProductsApi.Models;
@model List<StorageModel>


@{
    foreach (var storage in Model)
    {
        <div>
            <h1>@storage.Name</h1>
            @using (Html.BeginForm("DeleteStorage", "Storages", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="@storage.Id" />
                <div>
                    <input type="submit" value="delete storage" />
                </div>
            }

            @{
                if (storage.Products != null)
                {
                    foreach (var product in storage.Products)
                    {
                        <h3>@product.ToString()</h3>

                        @using (Html.BeginForm("DeleteProduct", "Storages", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@product.Id" />
                            <div>
                                <input type="submit" value="delete product" />
                            </div>
                        }
                    }
                }
            }

            <h1>Add new product:</h1>
            @using (Html.BeginForm("AddProduct", "Storages", FormMethod.Post))
            {
                <input type="hidden" name="storageId" value="@storage.Id" />

                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" />
                </div>

                <div>
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" />
                </div>

                <div>
                    <label for="weight">Weight:</label>
                    <input type="text" id="weight" name="weight" />
                </div>

                <div>
                    <label for="count">Count:</label>
                    <input type="text" id="count" name="count" />
                </div>

                <div>
                    <input type="submit" value="Add" />
                </div>
            }
            
        </div>
    }

    <h1>Add new storage:</h1>
    @using (Html.BeginForm("AddStorage", "Storages", FormMethod.Post))
    {
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
        </div>

        <div>
            <input type="submit" value="Add" />
        </div>
    }
}

